
@model Appointment

@{

    var Special = new SelectList(ViewBag.Special, "ID", "SpecializationName");
}


<label asp-for="SpecializationID" class="form-label"></label>
<select class="form-control" asp-for="SpecializationID" asp-items="@Special">
    <options value="@null">--Select Department--</options>

</select>
<span asp-validation-for="Specialization" class="text-danger"></span>

<label asp-for="Appointment_Time" class="form-Label"></label>
<input asp-for="Appointment_Time" class="form-control" />
<span asp-validation-for="Appointment_Time" class="text-danger"></span>

<label asp-for="Appointment_Day" class="form-Label"></label>
<input asp-for="Appointment_Day" class="form-control" />
<span asp-validation-for="Appointment_Day" class="text-danger"></span>

<div>
    <input type="submit" class="btn btn-primary" />

</div>